.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  background-color: #111315;
  border-radius: 20px;
  height: 1024px;
  padding: 20px 26px;
}
.nav {
  /* margin-top: 20px; */
  border-radius: 14px;

  height: 99px;
  background-color: #1A1D1F;
  padding: 26px;
}

.title{
  height: 47px;
}

.logo {
  height: 28px
}

.font-gray{
  color: #6F767E;
}

.greeting {
  height: 47px;
}

.divider {
 border-left: 1px solid #6F767E;
 height: 47px; 
}

.profile {
  height: 44px;
  background-color: #272B30;
  border-radius: 10px;
  padding:12px;
}

.profile-name {
  height: 18px;
}

.page-title {
  background-color: #272B30;
  height: 132px;
  margin-top: 20px;
  border-radius: 14px;
  padding: 26px;
}

.page-title button {
  background-color: #00AFFF;
  border-radius: 10px;
  height: 53px
}

.body {
  background-color: #1A1D1F;
  /* margin-top:20px; */
  height: 519px;
  border-radius: 14px;
  padding:26px;
}

.league {
  height: 181px;
  background-color: #272B30;
  border-radius: 14px;
  padding: 26px
}

.league-description {
  height: 75px;
  margin-top: 18px;
}

.date-info {
  font-size: 10px;
  color: #6F767E;
}

.league-content {
  height: 54px;
  font-size: 12px;
  color: #C6C6C6;
}

.search {
  height: 45px;
}

.search-league-bar {
  height: 45px;
  border-radius: 10px;
  border-color: #272B30;
  border-width: 1px;
  padding: 10px
}

.sort-by {
  height: 45px;
  border-radius: 10px;
  border-color: #272B30;
  border-width: 1px;
  /* padding-top: 12px; */
  padding-right: 16px;
  padding-left: 16px
}